<html class="welcome">
<body class="welcome">
<div style = "text-align: center">
<h1>Runtime Terror Social Media</h1>
</div>
<div class = 'options-container'>
<div class = "buttons">
<%= button_to "Login", '/login', method: :get%>
<div class ="divider"></div>
<%= button_to "Sign Up", '/users/new', method: :get  %>
</div>
</div>
</body>
</html>
