<h1>Categories</h1>



<%@categories.each do |category|%><br>
<%=category.name%> Posts: <%=category.posts.count%> <br> 
<a href= <%="categories/#{category.id}"%>><img src=<%=category.photo_url%> height = "150" width = "150"></a> 

<%end%>

